In [31]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib import pyplot
from scipy import stats
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import Ridge, LinearRegression, Lasso, LogisticRegression
from sklearn.model_selection import GridSearchCV, cross_val_score, train_test_split, KFold
from sklearn.metrics import r2_score
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor, GradientBoostingRegressor
from sklearn.svm import LinearSVC

In [ ]:
#AUTODML

In [20]:
diamonds = pd.read_csv("./INPUT/diamonds-datamad1019/data.csv/data.csv")

In [85]:
test = pd.read_csv("./INPUT/diamonds-datamad1019/test.csv", index_col='id')

In [86]:
test.shape

(13485, 9)

In [58]:
diamonds.head()

,carat,depth,table,y,price,cut_Fair,cut_Good,cut_Ideal,cut_Premium,cut_Very Good,...,color_I,color_J,clarity_I1,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2
0,2.26,61.9,57.0,8.36,12831,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
1,2.43,63.2,57.0,8.50,16170,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
2,0.80,61.0,57.0,6.01,2797,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
3,0.40,63.3,60.0,4.64,630,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
4,0.31,61.6,55.0,4.37,698,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0

In [87]:
test = pd.get_dummies(test)

In [88]:
test.drop(columns=['x','z'], inplace = True)

In [71]:
diamonds = diamonds[diamonds.carat<3]
diamonds = diamonds[diamonds.depth<72]
diamonds = diamonds[diamonds.depth<70]

## train

In [25]:
X = diamonds.drop(['price'], axis=1)
y = diamonds['price']

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2, random_state=69)

In [26]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [43]:
p_test = {
    'bootstrap': [True],
    'max_depth': [80, 90, 100, 110],
    'max_features':["auto",'sqrt','log2'],
    'min_samples_leaf': [3, 4, 5],
    'min_samples_split': [8, 10, 12],
    'n_estimators': [100, 200, 300, 1000]
}

In [44]:
tuning=GridSearchCV(estimator=RandomForestRegressor(), param_grid=p_test, n_jobs = -1, cv = 3, verbose =2)
tuning.fit(X_train,y_train)
tuning.score(X_test, y_test)
pred= tuning.predict(X_test)
r2 = r2_score(y_test, pred)
r2

Fitting 3 folds for each of 432 candidates, totalling 1296 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:  2.7min
[Parallel(n_jobs=-1)]: Done 138 tasks      | elapsed: 11.6min
[Parallel(n_jobs=-1)]: Done 341 tasks      | elapsed: 15.9min
[Parallel(n_jobs=-1)]: Done 624 tasks      | elapsed: 24.9min
[Parallel(n_jobs=-1)]: Done 989 tasks      | elapsed: 36.8min
[Parallel(n_jobs=-1)]: Done 1296 out of 1296 | elapsed: 46.4min finished

0.9810056812110752

In [89]:
test = scaler.transform(test)

In [90]:
pd.DataFrame(test)

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,-0.500561,0.252819,-1.547741,-0.345423,-0.172677,-0.314875,1.227100,-0.587936,-0.538645,-0.376098,...,3.007604,-0.234499,-0.116107,-0.185734,-0.563025,-0.454474,-0.423287,1.847822,-0.269306,-0.324690
1,0.540242,0.111278,-0.651961,0.680095,-0.172677,-0.314875,1.227100,-0.587936,-0.538645,-0.376098,...,-0.332491,-0.234499,-0.116107,-0.185734,-0.563025,-0.454474,-0.423287,1.847822,-0.269306,-0.324690
2,-0.628006,-0.171805,-0.651961,-0.569486,-0.172677,-0.314875,-0.814929,1.700865,-0.538645,-0.376098,...,-0.332491,-0.234499,-0.116107,-0.185734,-0.563025,-0.454474,-0.423287,1.847822,-0.269306,-0.324690
3,0.009220,0.748214,-0.651961,0.197498,-0.172677,-0.314875,1.227100,-0.587936,-0.538645,-0.376098,...,-0.332491,-0.234499,-0.116107,-0.185734,-0.563025,-0.454474,2.362463,-0.541178,-0.269306,-0.324690
4,-0.543043,-0.242576,-0.204070,-0.457455,-0.172677,-0.314875,1.227100,-0.587936,-0.538645,-0.376098,...,-0.332491,-0.234499,-0.116107,-0.185734,-0.563025,-0.454474,2.362463,-0.541178,-0.269306,-0.324690
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13480,-0.203189,-1.941074,1.139601,0.068231,-0.172677,-0.314875,-0.814929,1.700865,-0.538645,-0.376098,...,-0.332491,-0.234499,-0.116107,-0.185734,1.776121,-0.454474,-0.423287,-0.541178,-0.269306,-0.324690
13481,-0.521802,0.394361,-1.995632,-0.379895,-0.172677,-0.314875,1.227100,-0.587936,-0.538645,-0.376098,...,-0.332491,-0.234499,-0.116107,-0.185734,-0.563025,-0.454474,-0.423287,-0.541178,-0.269306,3.079865
13482,1.581044,-0.171805,-1.099851,1.481551,-0.172677,-0.314875,1.227100,-0.587936,-0.538645,-0.376098,...,-0.332491,-0.234499,-0.116107,-0.185734,1.776121,-0.454474,-0.423287,-0.541178,-0.269306,-0.324690
13483,-1.052824,0.677444,-1.099851,-1.267528,-0.172677,-0.314875,-0.814929,1.700865,-0.538645,-0.376098,...,-0.332491,-0.234499,-0.116107,-0.185734,-0.563025,2.200347,-0.423287,-0.541178,-0.269306,-0.324690
13484,-0.797933,-0.313347,-0.651961,-0.793549,-0.172677,-0.314875,1.227100,-0.587936,-0.538645,-0.376098,...,-0.332491,-0.234499,-0.116107,-0.185734,-0.563025,-0.454474,-0.423287,-0.541178,-0.269306,3.079865

In [91]:
pr = {'price':tuning.predict(test)}
df1 = pd.DataFrame(pr)

In [92]:
df1

              price
0       1302.237276
1       6432.572851
2       1719.493385
3       4052.566098
4       1753.620321
...             ...
13480   2322.235606
13481   2032.037601
13482  11062.890841
13483    477.045494
13484   1240.173933

[13485 rows x 1 columns]

In [93]:
df1.index.rename('id', inplace=True)

In [94]:
df1.head()

          price
id
0   1302.237276
1   6432.572851
2   1719.493385
3   4052.566098
4   1753.620321

In [95]:
df1.to_csv("./OUTPUT/test2.csv")

In [ ]:
#13485